# List in Python

In [1]:
mylist = ["apple","banana","orange","cherry"]

In [2]:
mylist

['apple', 'banana', 'orange', 'cherry']

In [3]:
mylist[1]

'banana'

# Duplicate

In [4]:
mylist = ["apple","banana","orange","cherry","orange"]

In [5]:
mylist[4]

'orange'

In [6]:
mylist[2]

'orange'

# Length

In [7]:
len(mylist)

5

In [8]:
mylist[2:3]

['orange']

# Loop

In [11]:
for x in mylist:
    print(x)

apple
banana
orange
cherry
orange

# Tuples in Python

In [12]:
mytuple = (1,"india",4,"usa")

In [16]:
mytuple1 = (5,"Dubai",7,"Canada")

In [13]:
mytuple[1]

'india'

In [14]:
mytuple[2]

4

In [15]:
for y in mytuple:
    print(y)

1
india
4
usa

In [17]:
mytuple2 = mytuple + mytuple1

In [18]:
mytuple2

(1, 'india', 4, 'usa', 5, 'Dubai', 7, 'Canada')